@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgb(243, 244, 246);
  color: white;
}

.custom-scroll {
  scrollbar-width: thin; /* Para Firefox */
  scrollbar-color: #4a5568 #2d3748; /* Para Firefox */
}

.custom-scroll::-webkit-scrollbar {
  width: 8px; /* Ancho del scroll */
}

.custom-scroll::-webkit-scrollbar-track {
  background: #2d3748; /* Color de fondo del track */
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #4a5568; /* Color del thumb */
  border-radius: 10px; /* Bordes redondeados */
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #718096; /* Color del thumb al pasar el ratón */
}
